<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="gbk">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <![endif]-->
    <title>乱世王者-门神现金裂变</title>
    <!-- 页面设计：青木文化 | 页面制作：青木文化 | 创建：2021-01-19 -->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="robots" content="all">
    <meta name="author" content="Tencent-CP">
    <meta name="Copyright" content="Tencent">
    <meta name="Keywords" content="乱世王者, 门神, 现金, 裂变, 年兽, 打年兽">
    <meta id="share-description" itemprop="description" name="Description" content="乱世王者-门神现金裂变">
    <meta id="share-name" itemprop="name" content="">
    <meta id="share-image" itemprop="image" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    
    <!-- rem布局初始化设置start -->
    <script type="text/javascript">
        <%= require('raw-loader!./src/js/app/rem.js') %>
    </script>
    <!-- rem布局初始化设置end -->

    <% if (process.env.NODE_ENV === 'handover') { %>
        <link href="//game.gtimg.cn/images/slg/act/4876/a20210119msu/visitors.css" rel="stylesheet">
    <% } else { %>
        <% for (var css in htmlWebpackPlugin.files.css) { %>
            <% var cssFile = htmlWebpackPlugin.files.css[css].substr(htmlWebpackPlugin.files.publicPath.length); %>
            <link href="<%= cssFile %>" rel="stylesheet">
        <% } %>
    <% } %>

    <!-- 授权加代码统计系统 -->
    <!-- <script id="__ga" type="text/javascript" src="https://ga.treedom.cn/ga.js?v=0.3.4&pid=9999"></script> -->
</head>
<body>
    <div class="m-main-wrap absf">
        
        <!-- 竖屏页 -->
        <div class="m-vertical absf">
            <div class="m-wrap sizcover abcter">
                <!-- 业务逻辑代码 stat -->

                <div class="m-loading"></div>
                <div class="m-audio hide" id="m-audio">
                    <audio id='audio' src=" https://mdup.apdcdn.tc.qq.com/vcloud1022.tc.qq.com/1022_5397b645b2d344998d60d25651e2fd1e.f0.mp3?vkey=A8EED40C92FD0469DB9D2F1180E88F2BB410B2153F838C190221C94DB139B96FD8B2169A79D686B4FD40F26EA3565AF6EEF4C939B1C1F838E63F7DF58EE598546F200AEB86BF81DEDDB133C9CB754CFEF4F91D77A35A9F1B&sha=0" autoplay="true" loop></audio>
                </div>
                <!-- 客态页模块 -->
                <div class="m-visitors sizcover abcter hide">
                    <div class="visitors-main abcter">
                        <div class="btn-relus sizcover abs" ontouchend="PTTSendClick('btn','btn-relus','规则')"></div>
                        <div class="top-content">
                            <div class="top-title sizcover"></div>
                            <!-- 好友助力值 -->
                            <div class="friend-value sizcover"></div>
                            <div class="title-text sizcover"></div>
                            <div class="button-box">
                                <div class="help_friend-btn sizcover"></div>
                                <div class="invitation-btn sizcover" ontouchend="PTTSendClick('btn','btn-to-index','发起助力')"></div>
                            </div>
                            <div class="invitation-tip sizcover"></div>
                        </div>
                        <!-- 好友列表 -->
                        <div class="friend-list sizcover permit-scroll">
                            <div class="list-container permit-scroll">
                                <!-- <div class="friend-item permit-scroll">
                                    <img src="//game.gtimg.cn/images/slg/act/4876/a20210119msu/act_friend.png" alt="" class="avatar sizcover">
                                    <div class="name">呢称xxxx</div>
                                    <div class="value">440</div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>


                <!-- 弹框模块 -->
                <div class="m-frame absf sizcover hide">
                    <!-- 自定义弹框   -->
                    <div class="message-wrap frame abcter sizcover hide">
                        <div class="message-text abcter sizcover" id="message-text">自定义文本</div>
                        <div class="btn-hide-frame abs sizcont"></div>
                        <div class="confirm button abcter sizcover">
                            <a href="JavaScript:hideFrame();" class="link" ontouchend="PTTSendClick('btn','btn-confirm','自定义弹框')"></a>
                        </div>
                    </div>
                    <!-- 规则弹框 -->
                    <div class="relus-wrap absf sizcover hide permit-scroll">
                        <div class="relus-text permit-scroll">
                            <div class="text-box permit-scroll">
                                <h6 class="permit-scroll">【活动范围】</h6>
                                <text class="text-content permit-scroll" selectable="true">
                                    本活动规则针对用户在本H5内参与下载《乱世王者》游戏/分享H5达到规定助力值以获取奖励活动；
                                </text>
                                <h6 class="permit-scroll">【活动时间】</h6>
                                <text class="text-content permit-scroll" selectable="true">
                                    2021年2.5日——2021.2.20日
                                </text>
                                <h6>【参与方法】</h6>
                                <text class="text-content permit-scroll" selectable="true">
                                    （1）本活动限微信、QQ用户参加；活动奖励每日名额有限，先到先得，如用户达到规定助力值，即可获得对应奖励。如当日奖励名额发放完毕，用户可在次日（活动期限内）重新返回本H5进行奖励领取/抽奖；<br>
                                    （2）进入本H5并观看完引入动画后，用户将获得初始助力值888。点击“助力门神”按钮，将提示用户获得游戏礼包及现金红包。《乱世王者》新用户可下载并登录游戏，再回到本H5领取2元红包及游戏礼包奖励；老用户可进行游戏登录，领取游戏内大礼包奖励，并获得100-200助力值。用户也可直接进入活动页面，用户在奖励活动时间内可发起活动以获取奖励，若奖励活动结束则无法获取；<br>
                                    （3）用户进入活动页面后，可查看自身当前助力值、获取对应奖励的助力值差值、对应奖励、好友助力榜。助力值分为三个档位，分别为2000、8888、10000。用户达到2000，可领取现金红包15元（QQ用户获得等值Q币）；用户达到8888，可获得《乱世王者》尉迟恭君主形象（30天））、橙色将魂*3，寻龙令*8，高级行军加速*8；用户达到10000，可获得现金红包28元、现金红包88元、现金红包888元、尉迟恭君主形象（60天）抽奖机会。用户可以通过邀请好友助力提高助力值（随机生成10-15），若好友通过点击用户链接并进行助力及游戏下载，则可生成200-400的更高助力值；<br>
                                    （4）《乱世王者》新用户下载并登录游戏，再回到本H5领取的2元红包限量发放，先到先得；<br>
                                    （5）微信用户获得现金红包可在“微信钱包”查看；QQ用户红包将以等值Q币形式获得。<br>
                                </text>
                                
                                <h6>【注意事项】</h6>
                                <text class="text-content permit-scroll" selectable="true">
                                    （1）用户在奖励活动时间内可发起活动，若奖励活动时间结束则无法发起；<br>
                                    （2）参与活动过程中，需要授权微信/QQ，若未授权，可能会出现无法分享或参与活动的情况；<br>
                                    （3）用户参与所获得的奖励存在随机性及时效性，不确保所有用户均能获得奖励，实际奖励金额以页面实时展示结果为准。<br>
                                </text>
                            </div>
                        </div>
                        <div class="btn-hide-frame abs sizcover"></div>
                    </div>
                    <div class="succeed-wrap frame sizcover abcter siz hide">
                        <div class="content abcter sizcover">
                            <div class="message-1 text">
                                已为好友助力<text class="value">xxx</text>值！
                            </div>
                            <div class="message-2 text">
                                下载游戏, 可为好友获得更高助力值哦~
                            </div>
                        </div>
                        <div class="download button abcter sizcover">
                            <a href="https://slg.qq.com/zlkdatasys/mct/d/play.shtml" class="link" ontouchend="PTTSendClick('btn','btn-download','助力好友-下载游戏')"></a>
                        </div>
                        <div class="btn-hide-frame abs sizcover"></div>
                    </div>
                </div>

                <!-- 业务逻辑代码 end -->
            </div>
        </div>
        
        <!-- 横屏页 -->
        <div class="m-horizontal absf">
            <div class="m-wrap sizcover abcter">
                <!-- 同上 -->
            </div>
        </div>

        <!-- loading小动画 -->
        <div class="icon-loading absf hide">
            <div class="inner abcter">
                <svg class="abcter" version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px" y="0px" width="40px" height="40px" viewBox="0 0 50 50">
                    <path fill="#000"
                        d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
                        <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25"
                            to="360 25 25" dur="0.6s" repeatCount="indefinite" />
                    </path>
                </svg>
            </div>
        </div>
    </div>

    <!-- 微信分享JSDK 需要时打开 -->
    <!-- <script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script> -->

    <!--  正式上线可替换此zepto（腾讯CDN） -->
    <!-- <script src="//cdnjs.gtimg.com/cdnjs/libs/zepto/1.0rc1/zepto.min.js"></script> -->

    <!-- 本地zepto -->

    <% if (process.env.NODE_ENV === 'handover') { %>
        <!-- <script src="../ossweb-img/js/lib/zepto.min.1.2.js"></script>
        <script src="../ossweb-img/js/lib/loteryround.min.js"></script>
        <script src="//ossweb-img.qq.com/images/js/PTT/ping_tcss_tgideas_https_min.js"></script>
        <script src="https://ossweb-img.qq.com/images/spiderMediaData/slg_new/mediaURLData_https.js"></script>
        <script src="//ossweb-img.qq.com/images/js/TGMobileShare/TGMobileShare.min.js"></script> -->
        <script src="<%= require('./src/js/lib/zepto.min.1.2.js') %>"></script>
        <script src="<%= require('./src/js/lib/loteryround.min.js')%>"></script>
        <script src="//ossweb-img.qq.com/images/js/PTT/ping_tcss_tgideas_https_min.js"></script>
        <script src="https://ossweb-img.qq.com/images/spiderMediaData/slg_new/mediaURLData_https.js"></script>
        <script src="//ossweb-img.qq.com/images/js/TGMobileShare/TGMobileShare.min.js"></script>
    <% } else { %>
        <script src="<%= require('./src/js/lib/zepto.min.1.2.js') %>"></script>
        <script src="<%= require('./src/js/lib/loteryround.min.js')%>"></script>
        <script src="//ossweb-img.qq.com/images/js/PTT/ping_tcss_tgideas_https_min.js"></script>
        <script src="https://ossweb-img.qq.com/images/spiderMediaData/slg_new/mediaURLData_https.js"></script>
        <script src="//ossweb-img.qq.com/images/js/TGMobileShare/TGMobileShare.min.js"></script>
    <% } %>
    <!-- <script>
        TGMobileShare({
        shareTitle:'乱世王者', //不设置或设置为空时，页面有title，则调取title
        shareDesc:'', //不设置或设置为空时，页面有Description，则调取Description
        shareImgUrl:'game.gtimg.cn/images/tgideas/act/a20151127tgmsdemo/share.jpg', //分享图片尺寸200*200，且填写绝对路径
        shareLink:'game.gtimg.cn/images/slg/cp/a20210119ms/index.html', //分享链接要跟当前页面同域名(手Q分享有这个要求) ,不设置或设置为空时，默认调取当前URL
        actName:'a20210119ms' //点击流命名，用于统计分享量，专题一般采用目录名称如a20151029demo
        });
    </script> -->
    <script>
        //此段代码不能放到外链JS中，
        var setSite={ //设置网站属性 
            siteType:"a20210119ms", //必填项:"os"代表是官网，如果不是，则填写actName例如a20160701xxx
            pageType:"visitors", //必填项:本页面的定位；按照页面含义填写例如main||list||detail||download||share||page1||pageN,不支持点(.)、下划线(_)
            pageName:"客态页", //必填项:页面中文名 
            project:"other", //选填项:如果是官网模块则是必填;按照模块内容，填写固定的对应值;官网微社区base;同人站doujin;赛事match;故事站story;文化站history;粉丝站fans;爆料站coming;论坛bbs;皮肤skin;默认other;
            osact:0 //选填项:默认是0。osact=0表示非官网专题；osact=pc表示pc官网/pc官网专题；osact=m表示移动官网/移动官网专题；osact=ingame表示微社区/微社区专题
        };
        if(typeof(pgvMain)=='function')pgvMain();//千万不能忘记！
    </script>
    <% if (process.env.NODE_ENV === 'handover') { %>
        <script type="text/javascript" src="//game.gtimg.cn/images/slg/act/4876/a20210119msu/visitors.js"></script>
    <% } else { %>
        <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
            <% var jsFile = htmlWebpackPlugin.files.chunks[chunk].entry.substr(htmlWebpackPlugin.files.publicPath.length); %>
            <script type="text/javascript" src="<%= jsFile %>"></script>
        <% } %>
    <% } %>


    </body>
    <script>
        var gloadEls = {
            pageBoxs: {
                audioPage: $('.m-audio'), // 音频模块
                frameWrap: $('.m-frame'),   // 弹窗外层遮罩,
                visitorsPage: $('.m-visitors'), // 客态页模块
            },
            buttons: {
                relusButton: $('.btn-relus'), // 显示规则按钮
                helpFriendBtn: $('.help_friend-btn'), // 助力好友按钮
                invitationBtn: $('.invitation-btn'), // 发起助力按钮
            },
            frames: {
                messageFrame: $('.message-wrap'), // 自定义内容弹框
                relusFrame: $('.relus-wrap'), // 规则弹框
                succeedFrame: $('.succeed-wrap') //成功助力好友弹框
            },
            friendList: $('.friend-list'),  // 好友列表
        }
        // 显示弹框
        function showFrame (el) {
            // gloadElements.pageBoxs.frameWrap 最外层盒子, 黑色背景遮罩层, 遍历隐藏所以子元素
            gloadEls.pageBoxs.frameWrap.children().hide();
            gloadEls.pageBoxs.frameWrap.show();
            el.show();
        };
        // 隐藏弹框
        function hideFrame (el) {
            // 隐藏外层元素
            gloadEls.pageBoxs.frameWrap.hide();
        }

        // 示例    显示助力好友列表
        gloadEls.buttons.helpFriendBtn.click(function () {
            // 发起请求
            support()
            // showFrame(gloadEls.frames.succeedFrame);
        })
        // 规则弹框
        gloadEls.buttons.relusButton.click(function () {
            showFrame(gloadEls.frames.relusFrame);
        })
        // 邀请好友助力
        gloadEls.buttons.invitationBtn.click(function () {
            window.location.href = 'index.html';
        })
        // 好友助力值
        window.replace(8888, '.friend-value');

        // 隐藏按钮
        $('.btn-hide-frame').on('click', function (event) {
            var frameWrap = gloadEls.pageBoxs.frameWrap // 蒙层弹框
            frameWrap.hide();
            $(event.srcElement).parent().hide();
            PTTSendClick('btn','btn-hide','取消按钮');
        });
    </script>
    <% if (process.env.NODE_ENV === 'handover') { %>
        <script src="//ulink.qq.com/ulinksdk/dist/js/ulink.2.0.8.js"></script>
        <script src="js/index.js"></script>
        <script src="js/common.js"></script>
    <% } %>
</html>
